__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/

*.log
db.sqlite3
media/
staticfiles/
debug.log

.cache
coverage/

.vscode/
.idea/
.DS_Store

*.bak
*.swp
*.swo
*~

node_modules/

*.pem
*.crt
*.key